<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ContainerResourceId>/subscriptions/686dc765-70d5-48f1-81b7-f24f1c994946/resourcegroups/ControleFinanceiroAlura/providers/Microsoft.ContainerRegistry/registries/ControleFinanceiro20220207182543</ContainerResourceId>
    <ContainerResourceName>ControleFinanceiro20220207182543</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>controlefinanceiro20220207182543.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <SCMUrl>https://controlefinanceiro20220207182341.scm.azurewebsites.net/</SCMUrl>
    <ResourceId>/subscriptions/686dc765-70d5-48f1-81b7-f24f1c994946/resourcegroups/ControleFinanceiroAlura/providers/Microsoft.Web/sites/ControleFinanceiro20220207182341</ResourceId>
    <ResourceGroup>ControleFinanceiroAlura</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://controlefinanceiro20220207182341.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>983aa098-c010-42ae-b308-fbd51dd42114</ProjectGuid>
  </PropertyGroup>
</Project>